.backSide-container {
  height: 100%;
  background: linear-gradient(to top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  border-radius: $br;
}

.backSide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cities-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .list-item {
    font-size: 2rem;
    margin: 10px 0;
  }
}

.selected {
  color: black;
  width: 200px;
  border: 4px solid black;
  border-radius: $br;
  padding: 5px 20px;
  text-align: center;
  ::after {
    content: "";
    border: 1px solid black;
    padding: 20px;
  }
}

