.backSide-container {
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(241, 231, 103, 1) 0%,
    rgba(254, 182, 69, 1) 100%
  );
  @media (min-width: 600px) {
    border-radius: $br;
  }
}

.backSide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cities-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .list-item {
    font-size: 2rem;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-del {
  color: $color-secondary;
  font-size: 1.5rem;
  background-color: transparent;
  border-style: none;
}

.selected {
  color: black;
  width: auto;
  border: 4px solid black;
  border-radius: $br;
  padding: 5px 20px;
  text-align: center;
  //::after {
  //  content: "";
  //  border: 1px solid black;
  //  padding: 20px;
  //}
}

.form-container {
  position: absolute;
  bottom: 40px;
  left: 60px;
}

.form {
  position: relative;
  width: 180px;
  .input {
    width: 100%;
    height: 30px;
    border-radius: $br;
    border-style: none;
    padding: 5px 10px;
    .input-label {
    }

    .input-border {
    }
  }
  .form-btn {
    background-color: transparent;
    color: black;
    border-radius: $br;
    height: 30px;
    border-style: none;
    position: absolute;
    top: 5px;
    right: -20px;
  }
}
