@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Saira+Condensed&display=swap');


html {
  font-size: 16px;
  font-family: "Saira Condensed", sans-serif;
}


body {
  font-family: "Saira Condensed", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size:2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-weight: 300;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}