.btn {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.backBtn {
  font-size: 2rem;
  background-color: transparent;
  color: $color-secondary;
  border-radius: $br;
  border-style: none;
  position: absolute;
  right: 5px;
  bottom: 10px;
}


