.btn {
  font-size: 1.7rem;
  color: $color-secondary;
  background-color: transparent;
  border: none;
}

.backBtn {
  width: 200px;
  height: 40px;
  font-size: 1.5rem;
  background-color: $color-primary;
  color: $color-text;
  border-radius: $br;
}