.btn {
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.backBtn {
  width: 200px;
  height: 40px;
  font-size: 1.5rem;
  background-color: $color-primary;
  color: $color-text;
  border-radius: $br;
  border-style: none;
  position: absolute;
  bottom: 30px;
}
